* {
    box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

body{
background-color: whitesmoke;
color: black;
}

table, th, td, tr{
    border: 2px solid black;
    border-collapse: collapse;
    vertical-align: middle;
    text-align: center;
}

.tr-1{
    background-color: grey;
    color: whitesmoke;
    border: 2px solid black;
    border-collapse: collapse;
    vertical-align: middle;
    text-align: center;  
}

.tr-2{
    background-color: #FFFAFA;
    color: black;
    border: 2px solid black;
    border-collapse: collapse;
    vertical-align: middle;
    text-align: center;  
}

.tr-3{
    background-color: #F5F5F5;
    color: black;
    border: 2px solid black;
    border-collapse: collapse;
    vertical-align: middle;
    text-align: center;  
}

button {
    margin: 5px 0px;
    padding: 10px;
    border-radius: 0px;
    color: white;
    font-weight: bold;
    background-color: #000080;
    border: 1px solid black;
    text-align: center;
}

ul{
    list-style: none;
}

button:hover{
    cursor: pointer;
    background-color:limegreen;
    color: #FFFFFF;
}

video{
    width: 320;
    height: 240;
}

h1{
margin-top: 50px;
margin-bottom: 0px;
font-size: 50px;
text-align: center;
}



h3{
font-size: 25px;

text-align: center;
}


ol{
font-size: 15px;
margin: 10px;
}

h4{
font-size: 17px;
text-align: center;
}

p{
font-size: 20px;
}

footer{
text-align: center;
margin: 40px;
font-size: 25px;
background-color: #FFFAFA;
}